<%- include partials/header -%>

    <div class='container'>
        <div class='row'>
            <div class='col-me-4'>
                <div class="card" id='user-card' style="width: 18rem; height: 30rem;">
                <img src="<%=user[0].animatedImage %>" class="card-img-top user-img" alt="pokemon">
                <div class="card-body">
                    <h3 class="card-title"><span id='user-name'><%= user[0].name %></h3>
                    <br>
                    <h5 class="card-text">HP: <span id='user-HP'><%=user[0].HP%>/<%=user[0].HP%></h5>
                    <p class='card-text'>Level: <span class='user-level'><%=user[0].level%></p>
                    <br>
                    <button class="btn btn-danger" id='fight-btn' onClick='clicked()'>Fight!</button>

                </div>
                </div>
                <div class='row' id='pokeball-row'>
                    <% user.forEach(function(pokemon,key) { %>
                        <img src="<%= pokemon.pokeball %>" class="pokeball pb-user" id="<%=key %>" data-name='<%= pokemon.name %>' onClick='choosePokemon(<%=key%>)'>        
                    <% }); %>
                </div>
            </div>

            <div class='col-md-1'></div>

            <div class='col-me-2'>
                <div class="card">
                    <div class="card-body">
                        <p id='feedback'>------ <span id='fb-text'>Click fight to change text.</span> ------</p>
                    </div>
                </div>
            </div>

            <div class='col-md-1'></div>

            <div class='col-me-4'>
                <div class="card" style="width: 18rem; height: 30rem;">
                <img src="<%=computer[0].animatedImage %>" class="card-img-top" alt="pokemon">
                <div class="card-body">
                    <h3 class="card-title"><%= computer[0].name %></h3>
                    <br>
                    <h5 class="card-text">HP: <span class='user-HP'><%=computer[0].HP%>/<%=computer[0].HP%></h5> 
                    <p class='card-text'>Level: <span class='user-level'><%=computer[0].level%></p>                   
                </div>
                </div>
                <div class='row' id='pokeball-comp-row'>
                    <% computer.forEach(function(pokemon, key) { %>
                        <img src="<%= pokemon.pokeball %>" class="pokeball" id="comp_<%= key %>" data-name='<%= pokemon.name %>'>        
                    <% }); %>
                </div>
            </div>

        </div>
    </div>

<script type="text/javascript">

    //FIGHT BUTTON
    var clicker = document.getElementById('fight-btn');
    function clicked(){
        document.getElementById('fb-text').innerText = 'BUTTON CLICKED';
    }

    //POKEBALLS
    function choosePokemon(key){
        console.log(key);
        document.getElementById
    }

    
</script>


<%- include partials/footer -%>